---
import { FaFacebook, FaInstagram } from 'react-icons/fa';

import Layout from '../components/layout-base.astro';


const socials = [
  {
    name: 'Facebook',
    href: 'https://www.facebook.com/thisisloupe',
    Icon: FaFacebook,
  },
  {
    name: 'Instagram',
    href: 'https://www.instagram.com/thisisloupe/',
    Icon: FaInstagram,
  },
]
---

<Layout>
  <main>
    <header>
      <h1>
        <img src="/logo.jpg" alt="Loupe">
      </h1>
    </header>

    <nav class="socials" aria-label="Socials">
      <ul>
        {socials.map(({ name, href, Icon }) => (
          <li>
            <a href={href} title={name}>
              <Icon />
              <span class="visually-hidden">{name}</span>
            </a>
          </li>
        ))}
      </ul>
    </nav>

    <section class="shows">
      <article />
      <article />
      <article />
    </section>

    <footer>
      <strong>General inquiries:</strong>
      <a href="mailto:info@thisisloupe.com">info@thisisloupe.com</a>

      <strong>Management:</strong>
      <a href="mailto:joris@attacknrelease.com">joris@attacknrelease.com</a>
      <a href="mailto:martijn@attacknrelease.com">martijn@attacknrelease.com</a>
    </footer>
  </main>
</Layout>

<style lang="scss">
  main {
    width: 40vw;
    width: clamp(30ch, 40vw, 50ch);
    min-height: 100vh;
    margin-inline: auto;
    padding-inline: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }

  .socials {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 2rem;
      display: flex;
      justify-content: space-around;
    }
  
    a {
      display: grid;
      place-content: center;
    }
  }

  .shows {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    article {
      height: 3rem;
      background-color: #252525;
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    > * + strong {
      margin-top: 1rem;
    }
  }

</style>