<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="With odd rhythms, warm bass lines and explosive guitar work Loupe guides you the way home. For a moment, just for a while you can stop running and listen to moody vocal lines that just won’t get out of your head. This is Loupe.">

  <title>Loupe</title>

  <link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>
</head>
<body>
  <slot />
</body>
</html>